:root {
	
	/*	PLAY WITH THESE VARIABLES TO SEE HOW IT WORKS! */
	--fontSize: 200px;
	--bgColor: #fff;
	--borderColor: #F44336;
	
	/* VARIABLE FOR ANIMATION */

	--animation: none;
	
	/*	UNCOMMENT BELOW LINE FOR SIMPLE ANIMATION */
		--animation: fancyBorder 1.2s ease-in alternate infinite;
}

body {
	margin: 0;
	font-family: arial;
	background: var(--bgColor);
	overflow: hidden
}

.wrapper {
	width: 90%;
	text-align: center;
	margin: auto;
}

h1 {
	font-size: var(--fontSize);
	line-height: 1;
	border: -webkit-calc(var(--fontSize) / 10) solid var(--borderColor);
	border: -moz-calc(var(--fontSize) / 10) solid var(--borderColor);
	border: calc(var(--fontSize) / 10) solid var(--borderColor);
	display: inline-block;
	/*	COMMENT LINE BELOW IF YOU WANT TEST FEW LETTERS INSTEAD OF ONE */
	width: var(--fontSize);
	position: relative;
	-webkit-animation: var(--animation);
	-moz-animation: var(--animation);
	-o-animation: var(--animation);
	animation: var(--animation);
}

h1::before,
h1::after {
	content: '';
	background: var(--bgColor);
	display: block;
	position: absolute;
	z-index: 1;
}

h1::before {
	width: -webkit-calc(var(--fontSize) / 5 + 100%);
	width: -moz-calc(var(--fontSize) / 5 + 100%);
	width: calc(var(--fontSize) / 5 + 100%);
	height: -webkit-calc(var(--fontSize)/2);
	height: -moz-calc(var(--fontSize)/2);
	height: calc(var(--fontSize)/2);
	top: 50%;
	left: 0;
	-webkit-transform: translate(-webkit-calc(var(--fontSize) / 10 * -1), -50%);
	-moz-transform: translate(-moz-calc(var(--fontSize) / 10 * -1), -50%);
	-ms-transform: translate(calc(var(--fontSize) / 10 * -1), -50%);
	-o-transform: translate(calc(var(--fontSize) / 10 * -1), -50%);
	transform: translate(calc(var(--fontSize) / 10 * -1), -50%);
}

h1::after {
	width: -webkit-calc(var(--fontSize)/2);
	width: -moz-calc(var(--fontSize)/2);
	width: calc(var(--fontSize)/2);
	height: -webkit-calc(var(--fontSize) / 5 + 100%);
	height: -moz-calc(var(--fontSize) / 5 + 100%);
	height: calc(var(--fontSize) / 5 + 100%);
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -webkit-calc(var(--fontSize) / 10 * -1));
	-moz-transform: translate(-50%, -moz-calc(var(--fontSize) / 10 * -1));
	-ms-transform: translate(-50%, calc(var(--fontSize) / 10 * -1));
	-o-transform: translate(-50%, calc(var(--fontSize) / 10 * -1));
	transform: translate(-50%, calc(var(--fontSize) / 10 * -1));
}

span {
	position: relative;
	z-index: 9;
}

@keyframes fancyBorder{
	from {
		padding:0;
		border-radius: 0%
	}
	to {
		padding:calc(var(--fontSize) / 2);
		border-radius: 50%;
	}
}
